/* Medical.css */
img{
  max-width:950px;
  height:650px;
}
.medical-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.medical-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #079307; /* Dark Red color for the title */
  text-align: center;
}
.medical-waste-management{
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
  border-left: 5px solid #079307;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.medical-subtitle {
  font-size: 1.8em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #079307; /* Dark Red color for subtitles */
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.medical-description {
  font-size: 1.1em;
  margin-bottom: 20px;
  text-align: justify;
}

.medical-section-title {
  font-size: 1.5em;
  color: #079307; /* Dark Red color for section titles */
  margin-top: 20px;
  margin-bottom: 10px;
}

.medical-benefits-list,
.medical-details-list {
  margin: 20px 0;
  padding-left: 20px;
  list-style-type: disc;
}

.medical-benefits-list li,
.medical-details-list li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.medical-conclusion {
  font-size: 1.1em;
  margin-bottom: 20px;
  text-align: justify;
}

@media (max-width: 768px) {
  .medical-title {
    font-size: 2em;
  }

  .medical-subtitle,
  .medical-section-title {
    font-size: 1.6em;
  }

  .medical-description, 
  .medical-conclusion, 
  .medical-benefits-list li,
  .medical-details-list li {
    font-size: 1em;
  }

  img{
    border-radius: 15px;
    width: 100%; /* Full width for all images */
    width: 400px; /* Consistent max width */
    height: 300px; /* Maintain aspect ratio */
  }
}
